# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\My Drive\Grad School\Spring 2022\EC530\Project1\word-analyzer-ci-sgomez14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
